body {
  font-family: Calibri, Arial, sans-serif;
  font-size: 1em;
}

.header {
  font-size: 3em;
  padding: 15px 15px 15px 0px;
  border-bottom: solid 4px #ddd;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  color: #47a3da;
}

.content {
  padding: 15px;
  border: solid 4px red;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.5;
  color: #888;
}

.arrow {
  color: darkblue;
  display: inline;
}

.headerText {
  display: inline;
}
