body {
  font-family: "Lato", "Calibri", Arial, sans-serif;
  font-size: 1em;
}

/*Header of each "article"*/
.header {
  font-size: 3em;
  padding: 45px 15px 15px 0px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  color: #47a3da;
}

.headerText {
  display: inline;
}

/*The default state of each "article"*/
.content {
  display: none;
}

/*The added class name to "reveal" the "article" when the .header is clicked*/
.content-clicked {
  padding: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-size: 1.25em;
  line-height: 1.5;
  color: #888;
  display:block;
}

/*Styles the sub-accordions w/in the "article" content*/
h4 {
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 15px;
  color: #47a3da;
  display: inline;
}

.sub-content {
  text-transform: none;
  font-size: 1em;
  color: #888;
  padding: 10px 0px 10px 0px;
  display: none;
}

.sub-content-clicked {
  text-transform: none;
  font-size: 1em;
  color: #888;
  padding: 10px 0px 10px 0px;
}

.small-accordion {
  margin-top: 20px;
}

/*The arrow beside each "title"*/
i {
  display: inline;
  color: #ddd;
}

/*I targeted this icon with both an element name AND class, because I wasn't sure which ones to use*/
.arrow {
  display: inline;
  color: #ddd;
}

.arrow-down {
  transform: rotateZ(90deg);
  color: #47a3da;
}

/*When hovered over, each icon will rotate down and turn blue*/
i:hover {
  transform: rotateZ(45deg);
  color: #47a3da;
}
/*how do I disable this hover when the arrow is clicked down?*/


/*The sub-accordions within each larger accordion*/
.sub-header {
  /*border: solid 2px black;*/
  /*used for troubleshooting purposes*/
}

.sub-para {
  display: none;
}

.sub-showing {
  display: block;
}
