body {
  font-family: "Lato", "Calibri", Arial, sans-serif;
  font-size: 1em;
}

.header {
  font-size: 3em;
  padding: 45px 15px 15px 0px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  color: #47a3da;
}

.headerText {
  display: inline;
}

.content {
  padding: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-size: 1.25em;
  line-height: 1.5;
  color: #888;
  display: none;
}

.content2 {
  padding: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-size: 1.25em;
  line-height: 1.5;
  color: #888;
  display: none;
}

.content-clicked {
  padding: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-size: 1.25em;
  line-height: 1.5;
  color: #888;
}

.content-clicked2 {
  padding: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-size: 1.25em;
  line-height: 1.5;
  color: #888;
}

.arrow {
  display: inline;
  color: #ddd;
}

.arrow2 {
  display: inline;
  color: #ddd;
}

i:hover {
  transform: rotateZ(45deg);
  color: #47a3da;
}
